{% for essay in template_values['essays'] %}
<div class="pagedlist_item" tabindex="-1" id="ld_B2wwd3_299">
    <div class="feed_item" id="__w2_jLtaXf1_item">
        <div class="mute_item_overlay"
             id="__w2_fLCgg4u_mute_item_overlay"></div>
        <div class="e_col p1 w4_5" id="__w2_jLtaXf1_feed_item">

            <div class="row">
                <div id="ld_ixjTtR_307">
                    <div class="feed_item_question">
                        <h2>
                            <span id="ld_ixjTtR_312">
                                <a class="question_link" href="/n/{{ essay.essay }}" id="__w2_o3iaxPJ_link" target="_blank">
                                    {{ essay.title }}
                                </a>
                                &nbsp;&nbsp;&nbsp;
                                <span class="timestamp" style="color: #999">{{ essay.publish_time }}</span>
                                &nbsp;&nbsp;&nbsp;
                                <span style="float: right;font-weight: normal"><a style="color: #999" href="#;" onclick="window.open('http://service.weibo.com/share/share.php?url=http://chuansong.me/n/{{ essay.essay }}&amp;title=【{{ essay.title }}】{{ essay.digest }}&amp;appkey=2919864620&amp;ralateUid=2454002513', '_blank', 'width=550,height=370'); recordOutboundLink(this, 'Share', 'weibo.com');" class="tb">分享</a></span>
                            </span>
                        </h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% end %}
<div id="hn{{ template_values['lastindex'] }}" style="display: none">{{ template_values['hasnext'] }}</div>
