{% for account in template_values['accounts'] %}
<div class="pagedlist_item" tabindex="-1">
    <div>
        <div class="row feed_item query_result user_query_result ">
            <div class="col photo_col ">
                <a href="/account/{{ account['wid'] }}" target="_blank">
                    <img class="profile_photo_img" src="/static/img/image/{{ account['wid'] }}.jpeg" width="25" alt="{{ account['wname'] }}" height="25">
                </a>
            </div>
            <div class="e_col w4_5">
                <div class="title has_photo" >
                    <a class="user" href="/account/{{ account['wid'] }}" target="_blank">
                        {{ account['wname_m'] }} &nbsp; ({{ account['wid_m'] }})
                    </a>
                </div>
                <div class="row content">
                    <div class="user_bio_wrapper truncate_3 ">
                        <span>
                            <div class=" inline truncated_q_text expandable_qtext">
                                <div class="search_result_snippet">
                                    <div>
                                        {{ account['wdesc'] }}
                                    </div>
                                </div>
                            </div>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% end %}
<div id="hn{{ template_values['lastindex'] }}" style="display: none">{{ template_values['hasnext'] }}</div>
