{% for article in template_values['articles'] %}
<div class="pagedlist_item" tabindex="-1">
    <div>
        <div class="row feed_item query_result user_query_result ">
            <div class="rc">
				<span style="float:left">
				</span>
				<h3 class="r">
					<a href="{{article['url']}}">
						{{article['title']}}
					</a>
				</h3>
				<div class="s">
					<div class="author">Written by <a href={{ article['author_url'] }}>{{article['author']}}</a>
					</div>
					{% if 'abstract' in article%} <span class="abstract">Abstract-{{article['abstract']}}...</span> {% end %}
					{% if 'category' in article%}
						<div class="category">Category-<a href={{ article['cat_url'] }}>{{article['category']}}</a>
						</div>
					{% end %}
					{% if 'tag_list' in article%}
					<div class="tag_list">
						{% set tag_list = article['tag_list'].split('/')%}
						Tags-{% for tag in tag_list%}<a href="/search_luc?query={{tag}}&field=token_taglist">{{ tag }}</a>{% if tag_list.index(tag) != len(tag_list)-1%} - {% end %}
						{% end %}
					</div>
					{% end %}
				</div>
			</div>
		</div>
    </div>
</div>
{% end %}
<div id="hn{{ template_values['lastindex'] }}" style="display: none">{{ template_values['hasnext'] }}</div>
